

/* cookistop */
#cookistop { margin: 0; padding: 0; background-color:$brand-danger; color:#fff; border-radius:0;}
#cookistop p { margin: 0; padding: 10px 0;}
#cookistop a { color: #fff; text-decoration: underline;}
#cookistop a .fa { margin-top:4px;}
#cookistop a.closeme { display: inline-block; padding: 2px 5px; border:1px solid #fff; border-radius: 4px; text-decoration: none; margin:0 10px;}
#cookistop a.closeme:hover {color:#000; background-color: #fff; text-decoration: none;}