/* grid  */
#wrapper { padding-left: 0;  transition: all 0.5s ease; position: relative; z-index: 1; background-color: #fafafa;}

#wrapper.toggled { padding-right: 250px; }

#mainmenu { z-index: 99999;   position: fixed; right: 250px;top:0; width: 0; background-color: #fafafa;height: 100%; margin-right: -250px; overflow-y: auto;  transition: all 0.5s ease;  }
#wrapper.toggled #mainmenu { width: 250px; }
#bd { width: 100%; position: absolute; z-index: 1; background-color:#fafafa   }
#wrapper.toggled #bd { position: absolute; margin-right: -250px; }
 

.sidebar-nav { position: absolute; top: 0; width: 250px; margin: 0; padding: 0; list-style: none; }
 
 

/* menu-toggle */
.bd-menu { position: absolute; top: 40px; right: 300px; z-index: 9999;width: 64px; height: 64px; transition: all 0.5s ease; }
a#menu-toggle { display: block; background: url(../img/menu.png) no-repeat 0 0; width: 64px; height: 64px; }
a#menu-toggle i { display: none;}
a#menu-toggle:hover  {  background: url(../img/menu.png) no-repeat 0 -74px;  }
#wrapper.toggled .bd-menu { right: 40px; }


@media only screen and (min-width:1201px)  {
	#wrapper { padding-right: 0; }
	#wrapper.toggled { padding-right: 0; }
	#mainmenu { width: 250px; }
	#wrapper.toggled #mainmenu { width: 0; }
	#bd {  position: relative; }
	#wrapper.toggled #bd { position: relative; margin-right: 0; }
}

 


@media only screen and (min-width:992px) and (max-width:1200px) {
	#wrapper { padding-right: 0; }
	#wrapper.toggled { padding-right: 0; }
	#mainmenu { width: 250px; }
	#wrapper.toggled #mainmenu { width: 0; }
	#bd {  position: relative; }
	#wrapper.toggled #bd { position: relative; margin-left: 0; }
}





@media only screen and (min-width:20px) and (max-width:991px) {
	#wrapper { padding-right: 0; }
	#wrapper.toggled { padding-right: 0; }
	#mainmenu { width: 250px; }
	#wrapper.toggled #mainmenu { width: 0; }
	#bd {  position: relative; }
	#wrapper.toggled #bd { position: relative; margin-left: 0; }
	
	
	
	
	/* menu-toggle */
.bd-menu { position: absolute; top: 40px; right: 265px; z-index: 9999;width: 32px; height: 32px; transition: all 0.5s ease; }
a#menu-toggle { display: block; background: url(../img/menu.png) no-repeat 0 0; width: 32px; height: 32px; background-size:100%; }
a#menu-toggle i { display: none;}
a#menu-toggle:hover  {  background: url(../img/menu.png) no-repeat 0 0;  background-size:100%;animation-name: pulse;  }
#wrapper.toggled .bd-menu { right: 15px; }
	
	
	
	
}

 
	 

 