
/* HEADER */

#hd { text-align: center; background: #c0ecf7 url(../img/heading.jpg) no-repeat center center; background-size: cover; padding:5px 0  0 0;
	margin: 0; min-height: 354px; }
#hd h1 { font-family: $BubblegumSans; margin:0;padding: 3% 0 0 0; font-size: 75px; color: #50828d; }
#hd h1.tiny-title { font-size: 45px;}




// SMARTPHONE VERTICAL 
@media only screen and (min-width:20px) and (max-width:767px) {
	
#hd {  min-height: 194px; }
#hd h1 {  padding: 30px 15px 0 15px; font-size: 36px;   }
#hd h1.tiny-title { font-size: 25px; padding : 15px 25px 0 25px;}
	
 }
		



