/* section-produit-1 */
.section-produit { background-color: #65b650; color: #fff; padding: 30px 0 }
.section-produit h2 {font-family: $opensans; text-align: left; font-size: 38px; color: #fff; margin: 0 0 57px 0;}

.section-produit-2 { background: #478137  url(../img/produit-2.jpg) repeat-x 0 0; padding: 167px 0 60px 0;}
.section-produit-3 { background: #32a7d2 url(../img/produit-3.jpg) repeat-x 0 0;    padding: 167px 0 40px 0;}
 


.p-produit { text-align: center;}
.p-produit img { width: 100%; height: auto;   box-shadow: 3px 3px 0px 0px rgba(63, 93, 55, 0.58); border: 9px solid #fff; margin: 0 0 25px 0;}
.p-produit a { color: #fff; font-size: 19px; font-weight: 900;}




// IPAD VERTICAL         
@media only screen and (min-width:768px) and (max-width:991px) {
.p-produit { min-height: 340px;}
}






 