#sidebar { text-align: center; background-color: #fafafa; padding: 15px 0; 	width:250px; overflow: hidden;}


#sidebar {
	
.sidebar-logo {}
ul.list-menu { margin: 0; padding: 0; border-bottom: 1px dashed #c1c1c1; }
ul.list-menu li { display: block; width: 100%; text-align: center; padding: 0; margin: 0;  }
ul.list-menu li a {border-top: 1px dashed #c1c1c1; display: block; padding: 20px 5px; text-align: center; color: #367786;  font-size: 16px; font-weight: 700; }
ul.list-menu li a:hover,
ul.list-menu li a.active {background-color: #38889c; color: #fff; text-decoration: none; }
	
}

